<!DOCTYPE html>
<html>
<head>
	<title>This is create page</title>
	<style>
		h1 {
			color: red;
			font-family: sans-serif;
			text-decoration-style: bold;
		}

	</style>
</head>
<body>
		<h1>{{title}}</h1>
		<ul><h3>This is an unordered list</h3>
		<li>Please make sure you follow hamza</li>
		<li>Again pay attention</li>
		<li>I told you, PAY ATTENTION!</li>
		</ul>

		<ol><h3>This is an ordered list</h3>
		<li>One sentence</li>
		<li>Second sentence</li>
		<li>Third Sentence</li>
		</ol>
		<p>This is the first paragraph. It'll follow the same structure of a normal paragraph</p>
		<p>{{content}}</p>
		<h1>{{user}}</h1>

		<ol><h4>This is shown way better</h4>
			{% for i in list %}

				<li>{{i.title}}</li>

			{% endfor %}

		</ol>

		<ul>
			<!-- Try this in a foor loop?-->
			<li>{{filter.title}}</li>
			<li>{{filter.content}}</li>
			<li>{{filter.updated}}</li>
			<li>{{filter.timestamp}}</li>




		</ul>


</body>
</html>